@page "/"
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
@if (!User.Identity.IsAuthenticated)
{
<div class="row" >
    <div class="col-lg-9 mx-auto rounded border p-3">
        <h2 style="padding:15px;">Sign in </h2>
        <form method="post">
            <div class="username" style="margin:10px;">
                <label class="myusername" style="padding:10px;">Username</label>
                <input type="text" name="LoginInput.UserName" style="margin-left:55px;" required />
            </div>

            <div class="password" style="margin:10px;">
                <label class="mypassword" style="padding:10px;">Password</label>
                <input type="password" name="LoginInput.Password" style="margin-left:58px;" required />
            </div>

            <div class="btn">
                <button type="submit" class="btn btn-primary">Login </button>
            </div>
                <div asp-validation-summary="ModelOnly" class="text-danger no-bullet" style="width:300px; ">
                </div>
                <style>
                    .no-bullet ul, .no-bullet ol {
                        list-style: none;
                    }
                </style>
        </form>

    </div>
    </div>

}
else
{
    Response.Redirect("/ContactList");
}

